*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.main{
    padding: 10px;
    transform:translate(92vh,6vw);   
     width: 250px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
    text-transform: capitalize;
}
input{
    width: 200px;
    border: 2px solid rebeccapurple;
    padding: 2px;
    font-size: 20px;
    border-radius: 5px;
}
button{
    width: 100px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}
img{
    width: 90px;
    
    margin:0 auto;
}
.did{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}